@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>
<h3>Location:</h3>
    <li>@Model.Street1</li>
    <br>
    <li>@Model.Street2</li>
    <br>
    <li>@Model.City, @Model.State</li>
    <br>
    <li>@Model.Zip</li>
    <br>

<h3>Atmosphere:</h3>
    <li>@Model.Atmosphere</li>
    <br>

<h3>Price:</h3>
    <li>@Model.Price</li>
    <br>

<h3>Portion:</h3>
    <li>@Model.Portion</li>
    <br>

<h3>Rating:</h3>
    <li>@Model.Rating</li>
    <br>

<h3>Comments:</h3>
    <li>@Model.Comments</li>
    <br>

